# Xcode
build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
docset-installed.txt
.DS_Store
Podfile.lock
Pods/**/*
Pods/RxCocoa/RxCocoa/RxCocoa/UI+Rx/UITextField+Rx.swift
Pods/RxSwift/LICENSE.md
Pods/RxSwift/README.md
Pods/RxSwift/RxSwift/RxSwift/AnyObject+Rx.swift
Pods/RxSwift/RxSwift/RxSwift/Cancelable.swift
Pods/RxSwift/RxSwift/RxSwift/Concurrency/AsyncLock.swift
Pods/RxSwift/RxSwift/RxSwift/Concurrency/Lock.swift
Pods/RxSwift/RxSwift/RxSwift/DataStructures/Bag.swift
Pods/RxSwift/RxSwift/RxSwift/DataStructures/Queue.swift
Pods/RxSwift/RxSwift/RxSwift/Disposable.swift
Pods/RxSwift/RxSwift/RxSwift/Disposables/AnonymousDisposable.swift
Pods/RxSwift/RxSwift/RxSwift/Disposables/CompositeDisposable.swift
Pods/RxSwift/RxSwift/RxSwift/Disposables/DefaultDisposable.swift
Pods/RxSwift/RxSwift/RxSwift/Disposables/DisposeBag.swift
Pods/RxSwift/RxSwift/RxSwift/Disposables/DisposeBase.swift
Pods/RxSwift/RxSwift/RxSwift/Disposables/ScopedDispose.swift
Pods/RxSwift/RxSwift/RxSwift/Disposables/SerialDisposable.swift
Pods/RxSwift/RxSwift/RxSwift/Disposables/SingleAssignmentDisposable.swift
Pods/RxSwift/RxSwift/RxSwift/Error.swift
Pods/RxSwift/RxSwift/RxSwift/Event.swift
Pods/RxSwift/RxSwift/RxSwift/Observable.swift
Pods/RxSwift/RxSwift/RxSwift/Observable+Subscription.swift
Pods/RxSwift/RxSwift/RxSwift/Observables/Implementations/Aggregate.swift
Pods/RxSwift/RxSwift/RxSwift/Observables/Implementations/AnonymousObservable.swift
Pods/RxSwift/RxSwift/RxSwift/Observables/Implementations/AsObservable.swift
Pods/RxSwift/RxSwift/RxSwift/Observables/Implementations/Catch.swift
Pods/RxSwift/RxSwift/RxSwift/Observables/Implementations/CombineLatest.swift
Pods/RxSwift/RxSwift/RxSwift/Observables/Implementations/CombineLatest+arity.swift
Pods/RxSwift/RxSwift/RxSwift/Observables/Implementations/Concat.swift
Pods/RxSwift/RxSwift/RxSwift/Observables/Implementations/ConcatSink.swift
Pods/RxSwift/RxSwift/RxSwift/Observables/Implementations/ConnectableObservable.swift
Pods/RxSwift/RxSwift/RxSwift/Observables/Implementations/Debug.swift
Pods/RxSwift/RxSwift/RxSwift/Observables/Implementations/Defer.swift
Pods/RxSwift/RxSwift/RxSwift/Observables/Implementations/DistinctUntilChanged.swift
Pods/RxSwift/RxSwift/RxSwift/Observables/Implementations/Do.swift
Pods/RxSwift/RxSwift/RxSwift/Observables/Implementations/Merge.swift
Pods/RxSwift/RxSwift/RxSwift/Observables/Implementations/Multicast.swift
Pods/RxSwift/RxSwift/RxSwift/Observables/Implementations/ObservableBase.swift
Pods/RxSwift/RxSwift/RxSwift/Observables/Implementations/ObserveSingleOn.swift
Pods/RxSwift/RxSwift/RxSwift/Observables/Implementations/Producer.swift
Pods/RxSwift/RxSwift/RxSwift/Observables/Implementations/RefCount.swift
Pods/RxSwift/RxSwift/RxSwift/Observables/Implementations/ReplaySubject.swift
Pods/RxSwift/RxSwift/RxSwift/Observables/Implementations/Sample.swift
Pods/RxSwift/RxSwift/RxSwift/Observables/Implementations/ScheduledObserver.swift
Pods/RxSwift/RxSwift/RxSwift/Observables/Implementations/Select.swift
Pods/RxSwift/RxSwift/RxSwift/Observables/Implementations/Sink.swift
Pods/RxSwift/RxSwift/RxSwift/Observables/Implementations/StartWith.swift
Pods/RxSwift/RxSwift/RxSwift/Observables/Implementations/Subject.swift
Pods/RxSwift/RxSwift/RxSwift/Observables/Implementations/Switch.swift
Pods/RxSwift/RxSwift/RxSwift/Observables/Implementations/TailRecursiveSink.swift
Pods/RxSwift/RxSwift/RxSwift/Observables/Implementations/Throttle.swift
Pods/RxSwift/RxSwift/RxSwift/Observables/Implementations/Variable.swift
Pods/RxSwift/RxSwift/RxSwift/Observables/Implementations/Where.swift
Pods/RxSwift/RxSwift/RxSwift/Observables/Observable+Aggregate.swift
Pods/RxSwift/RxSwift/RxSwift/Observables/Observable+Binding.swift
Pods/RxSwift/RxSwift/RxSwift/Observables/Observable+Concurrency.swift
Pods/RxSwift/RxSwift/RxSwift/Observables/Observable+Creation.swift
Pods/RxSwift/RxSwift/RxSwift/Observables/Observable+Debug.swift
Pods/RxSwift/RxSwift/RxSwift/Observables/Observable+Multiple.swift
Pods/RxSwift/RxSwift/RxSwift/Observables/Observable+Single.swift
Pods/RxSwift/RxSwift/RxSwift/Observables/Observable+StandardSequenceOperators.swift
Pods/RxSwift/RxSwift/RxSwift/Observables/Observable+Time.swift
Pods/RxSwift/RxSwift/RxSwift/ObserverOf.swift
Pods/RxSwift/RxSwift/RxSwift/Observers/AnonymousObserver.swift
Pods/RxSwift/RxSwift/RxSwift/Observers/AutoDetachObserver.swift
Pods/RxSwift/RxSwift/RxSwift/Observers/DoneObserver.swift
Pods/RxSwift/RxSwift/RxSwift/Observers/NopObserver.swift
Pods/RxSwift/RxSwift/RxSwift/Observers/ObserverBase.swift
Pods/RxSwift/RxSwift/RxSwift/ObserverType.swift
Pods/RxSwift/RxSwift/RxSwift/Result.swift
Pods/RxSwift/RxSwift/RxSwift/Rx.swift
Pods/RxSwift/RxSwift/RxSwift/Scheduler.swift
Pods/RxSwift/RxSwift/RxSwift/Scheduler/DispatchQueueScheduler.swift
Pods/RxSwift/RxSwift/RxSwift/Scheduler/ImmediateSchedulerOnCurrentThread.swift
Pods/RxSwift/RxSwift/RxSwift/Scheduler/MainScheduler.swift
Pods/RxSwift/RxSwift/RxSwift/Scheduler/OperationQueueScheduler.swift
Pods/RxSwift/RxSwift/RxSwift/Scheduler/SchedulerDefaults.swift
Pods/RxSwift/RxSwift/RxSwift/Subjects/ConnectableObservableType.swift
Pods/RxSwift/RxSwift/RxSwift/Subjects/SubjectType.swift
Pods/Target Support Files/Pods-RxCocoa/Info.plist
Pods/Target Support Files/Pods-RxCocoa/Pods-RxCocoa-dummy.m
Pods/Target Support Files/Pods-RxCocoa/Pods-RxCocoa-prefix.pch
Pods/Target Support Files/Pods-RxCocoa/Pods-RxCocoa-Private.xcconfig
Pods/Target Support Files/Pods-RxCocoa/Pods-RxCocoa-umbrella.h
Pods/Target Support Files/Pods-RxCocoa/Pods-RxCocoa.modulemap
Pods/Target Support Files/Pods-RxCocoa/Pods-RxCocoa.xcconfig
Pods/Target Support Files/Pods-RxSwift/Pods-RxSwift-Private.xcconfig
Pods/Target Support Files/Pods-RxSwift/Pods-RxSwift-umbrella.h
Pods/Target Support Files/Pods-RxSwift/Pods-RxSwift.modulemap
Pods/Target Support Files/Pods-RxSwift/Pods-RxSwift.xcconfig
Pods/Target Support Files/Pods/Info.plist
Pods/Target Support Files/Pods/Pods-acknowledgements.markdown
Pods/Target Support Files/Pods/Pods-acknowledgements.plist
Pods/Target Support Files/Pods/Pods-dummy.m
Pods/Target Support Files/Pods/Pods-environment.h
Pods/Target Support Files/Pods/Pods-frameworks.sh
Pods/Target Support Files/Pods/Pods-resources.sh
Pods/Target Support Files/Pods/Pods-umbrella.h
Pods/Target Support Files/Pods/Pods.debug.xcconfig
Pods/Target Support Files/Pods/Pods.modulemap
Pods/Target Support Files/Pods/Pods.release.xcconfig